@{
    ViewBag.Title = "";
}

<link href="~/css/general.css" rel="stylesheet" />
<script src="~/js/slider.js"></script>

<div class="ic-slider">
        <div>
            <ul>
                <li><span class="big-txt">Get Credit In A Short Time</span></li>
                <li><h2>ste kara lini inch vor text</h2></li>
                <li><h3> aystex karox e linel dzer govazdy</h3></li>
                <li><a href="/Home/GetCredit" class="get-credit">Get Credit</a></li>
            </ul>
        </div>
    </div>

    <div id="about-us-part" class="container">
        <div class="custome-container">
            <div class="custome-item">
                <div> <img src="~/Images/Icons/2976777.png" alt="Alternate Text" /> </div>
                <div> <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur mi justo, cursus a lectus vitae, lacinia facilisis nisl. Curabitur nibh felis, condimentum non dictum quis, consectetur ut arcu. Ut sapien nibh, pharetra at placerat in, ornare ac velit. Nullam ac dolor vitae urna placerat mattis vel non augue. Donec semper ligula elit, luctus molestie odio commodo eu. Vestibulum placerat lectus nec efficitur pellentesque. Proin in ante bibendum, consequat lorem et, dignissim est.</span> </div>
            </div>
            <div class="custome-item">
                <div> <img src="~/Images/Icons/3790814.png" alt="Alternate Text" /> </div>
                <div> <span>Vivamus a nisi semper, commodo magna nec, pretium orci. In vehicula mattis lorem vitae venenatis. Integer et justo id lorem tristique laoreet. Nullam quis tortor ex.</span> </div>
            </div>
        </div><div class="custome-container">
            <div class="custome-item">
                <div> <img src="~/Images/Icons/1006657.png" alt="Alternate Text" /> </div>
                <div> <span> Proin in ante bibendum, consequat lorem et, dignissim est.</span> </div>
            </div>
            <div class="custome-item">
                <div> <img src="~/Images/Icons/552486.png" alt="Alternate Text" /> </div>
                <div> <span>Vivamus a nisi semper, commodo magna nec, pretium orci. In vehicula mattis lorem vitae venenatis. Integer et justo id lorem tristique laoreet. Nullam quis tortor ex.</span> </div>
            </div>
            <div class="custome-item">
                <div> <img src="~/Images/Icons/1828640.png" alt="Alternate Text" /> </div>
                <div> <span>Vivamus a nisi semper, commodo magna nec, pretium orci. In vehicula mattis lorem vitae venenatis. Integer et justo id lorem tristique laoreet. Nullam quis tortor ex.</span> </div>
            </div>
        </div>
    </div>