<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bank - @ViewBag.Title</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="~/css/styles.css" rel="stylesheet" />
    <link href="~/css/header.css" rel="stylesheet" />
    <link href="~/css/footer.css" rel="stylesheet" />
    <script src="~/js/script.js"></script>

    <link rel="icon" href="~/Images/Logos/Logo 2.png" />
</head>
<body>
    <header class="row">
        <div class="col-sm-5 col-sm-offset-1">
            <a href="/Home/Index" target="_blank">
                <span class="general-link"> <img src="~/Images/Logos/Logo 2.png" alt="logo" class="logo" /> Bank Name</span><span class="general-link general-link-sm">.com</span>
            </a>
        </div>

        <div class="col-sm-2"> <a href="/Home/Index?i=1#about-us-part"> About Us </a> </div>
        <div class="col-sm-1"> <a href="/Home/GetCredit"> Credits </a> </div>

    </header>

    @RenderBody()

    <footer>
        <ul>
            <li>Thank you for visiting our web site</li>
            <li>Contact with us</li>
            <li><a href="">Facebook </a></li>
            <li><a href="">Instagram </a></li>
        </ul>
    </footer>
</body>
</html>